/* Material UI Colours */
:root {
    --primary-color: #1975d2;
    --primary-light: #42a5f5;
    --primary-dark: #1565c0;
    --secondary-color: #9c27b0;
    --secondary-light: #ba68c8;
    --secondary-dark: #7b1fa2;
    --background-color: #e0e0e0;
    --surface-color: #ffffff;
    --text-primary: #333;
    --text-secondary: #777;
    --error-color: #d32f2f;
}

body {
    background: var(--background-color);
    color: var(--text-primary);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 20px;
}

header, p {
    text-align: center;
    width: 80%;
}

h3 {
    margin-bottom: 8px;
}

.input-container {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    background-color: var(--surface-color);
}

#taskInput {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addTaskButton, .deleteTaskButton {
    padding: 8px 16px;
    border-radius: 4px;
}

#addTaskButton:hover, .deleteTaskButton:hover {
    filter: brightness(1.1);
}

#addTaskButton {
    background-color: var(--primary-light);
    padding: 8px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.deleteTaskButton {
    background-color: var(--error-color);
    padding: 8px 15px;
    color: white;
    border: none;
    cursor: pointer;
}

.container {
    width: 80%;

    border: 2px solid black;

    display: flex;
    justify-content: space-around;
}

.container > div {
    width: 48%;
}

.list-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px;
    width: 100%;
    background-color: var(--surface-color);

    padding: 16px;
    box-sizing: border-box;
}

.item {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background-color: var(--surface-color);

    padding: 12px;
    margin: 8px 0;

    cursor: grab;
}

.item:active {
    filter: brightness(0.95);
}

.item, .list-container, .input-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #303030;
        --surface-color: #424242;
        --text-primary: #e0e0e0;
        --text-secondary: #bdbdbd;
    }
}